*,*:before, *:after
    box-sizing: border-box
    margin: 0
h1,h2,h3
    margin: 0
html
    font-family: 'Gemunu Libre', sans-serif
    font-size: 1rem
    color: $white
    background: $black
    scroll-behavior: smooth
.container
    max-width: 51.25rem
    width: 100%
    margin: auto
    &--wide
        max-width: 63.125rem
        width: 100%
        margin: auto
    &--wider
        max-width: 53.125rem
        width: 100%
        margin: auto 
    &--widest
        max-width: 69.0625rem
        width: 100%
        margin: auto 
a
    color: $white
    text-decoration: none
.main-part
    background: url('../img/main-part.jpg') no-repeat center / cover
.button
    border: none
    &--primary
        border-radius: 1.5625rem
        background: linear-gradient(96.35deg, #5E8BBF 34.75%, #2B426C 75.23%)
        color: $white
        font-size: 1.125rem
        padding: 0.375rem 0.875rem
        border: none
        cursor: pointer
    &--buy
        border-radius: 0.625rem
        background-color: $green
        color: $black
        font-size: 1.125rem
        cursor: pointer
    &--secondary
        border-radius: 1.5625rem
        background: linear-gradient(90deg, #FF1967 20.33%, #630B24 86.15%)
        color: $white
        font-size: 1.5rem
        cursor: pointer